<div class="main-container">
    <div class="bg-white rounded-lg shadow p-6 ">
        <div class="overflow-x-auto mt-8">
            <table class="w-full divide-y devide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tên nhóm</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Trưởng nhóm</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Zalo nhóm</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Facebook nhóm</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Thời hạn đăng ký</th>
                        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Trạng thái</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center px-6 py-4" colspan="7">--No data--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>