<h2>Login form </h2>
<hr>
<form action="/test/login" method="post">
    <input type="text" name="username" placeholder="enter username..."> 
    <input type="password" name="password" placeholder="enter password"> <br>
    <button type="submit">Login</button>
</form>