
@font-face {
    font-family: 'Be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: 'normal';
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: 'normal'
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: 'normal';
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: 'normal'
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: 'normal'
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: 'normal'
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: 'normal'
}
@font-face {
    font-family: 'be';
    src: url('/fonts/Be_Vietnam_Pro/BeVietnamPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: 'normal'
}
/* .be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
} */
/* font */
html{

}
body{
    font-family: 'be', sans-serif;
}
.main-container{
  margin: 0 auto;

}
@media (min-width: 576) {
  .main-container{
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .main-container{
    max-width: 720px;
  }
}
@media (min-width: 992px){
  .main-container{
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-container{
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .main-container{
    max-width: 1320px;
  }
}


