<body style="margin: 40px 0; padding: 0; background: #f4f6f8">
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#f4f6f8">
        <tr>
            <td align="center">
                <!-- FLUID CONTAINER -->
                <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; background: #ffffff">
                    <!-- BANNER -->
                    <tr>
                        <td align="center">
                            <img
                                src="cid:banner"
                                alt="AccessRace Banner"
                                width="100%"
                                width="120"
                                style="display: block; height: auto"
                            />
                        </td>
                    </tr>
                    <!-- banner text -->
                     <tr>
                        <td align="center">
                            <h1>{{banner_text}}</h1>
                        </td>
                     </tr>
                    <!--  -->
                    <tr>
                        <td style="padding: 20px; font-family: Arial, sans-serif; font-size: 14px; color: #333333">
                            <h1 align="center">{{event_name}}</h1>
                            <p align="center">Vị trí/Location: {{location}}</p>
                            <p>Xin chào/Dear <b>{{fullname}}</b>,</p>
                            <!--  -->
                            <p>{{content_1}}</p>
                            <!-- QR code  -->
                            <p align="center" style="margin: 10px 0">
                                <img src="cid:qrcode" width="220" style="display: block" />
                            </p>
                            <!--  -->
                            <p align="center">Datetime: {{start_date}} - {{end_date}}</p>
                        
                            <!--  -->
                            <!-- Thông tin VĐV -->
                            <div style="padding: 5px 20px">
                                <table style="width: 100%; border-collapse: collapse; font-size: 15px">
                                    <tr style="background: #f9f9f9">
                                        <td style="padding: 10px; border: 1px solid #ddd"><b>CODE</b></td>
                                        <td
                                            style="
                                                padding: 10px;
                                                border: 1px solid #ddd;
                                                color: #e65100;
                                                font-weight: bold;
                                            "
                                        >
                                            {{code}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px; border: 1px solid #ddd"><b>CCCD</b></td>
                                        <td style="padding: 10px; border: 1px solid #ddd">{{cccd}}</td>
                                    </tr>
                                    <tr style="background: #f9f9f9">
                                        <td style="padding: 10px; border: 1px solid #ddd"><b>CATEGORY</b></td>
                                        <td style="padding: 10px; border: 1px solid #ddd">{{category}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px; border: 1px solid #ddd"><b>Size áo/Vật phẩm</b></td>
                                        <td style="padding: 10px; border: 1px solid #ddd">{{tshirt_size}}</td>
                                    </tr>
                                    <tr style="background: #f9f9f9">
                                        <td style="padding: 10px; border: 1px solid #ddd"><b>📅 Ngày sự kiện</b></td>
                                        <td style="padding: 10px; border: 1px solid #ddd">15/10/2025</td>
                                    </tr>
                                </table>
                            </div>
                            <!--  -->
                            <p>{{content_2}}</p>
                            <!--  -->
                            <p>Vui lòng mang mã QR này để check-in.</p>

                            <p>Trân trọng,<br /><b>BTC AccessRace</b></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
