<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Event</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Post</a></li>
                    <li class="breadcrumb-item"><a href="#!">create new post</a></li>
                    <!-- <li class="breadcrumb-item" aria-current="page">Home</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breakcrum -->
 <div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>#</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Paid</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mid Night Run</td>
                    <td>Vu Van Kien</td>
                    <td>true</td>
                    <td><button class="btn btn-outline-warning">Edit</button> | <button class="btn btn-outline-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>