<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Event</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!">Post</a></li>
                    <li class="breadcrumb-item"><a href="#!">create new post</a></li>
                    <!-- <li class="breadcrumb-item" aria-current="page">Home</li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breack-crum -->

<div class="card">
    <div class="card-header d-flex justify-content-between align-item-center">
        <h2>Event List</h2>
        <a class="btn btn-primary" href="/admin/event/form">New event</a>
    </div>
    <div class="card-body">
        <table id="eventTbl" class="table .table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên nhóm</th>
                    <th>Trưởng nhóm</th>
                    <th>Zalo nhóm</th>
                    <th>Facebook nhóm</th>
                    <th>Thời hạn đăng ký</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td colspan="7" class="text-center">Không có sự kiện nào</td>
                </tr>
                <tr>
                    <td colspan=""></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- ==========script here======= -->
<script>
    // ==global
    
</script>