<footer class="footer text-white bg-[#0a0730] p-10">
    <hr class="text-[rgba(255,255,255,.1)]">
    <div class="footer-bottom border-t border-[rgba(255,255,255,.1)] pt-4 ">
       <p class="w-full"><%=(typeof f_data == 'undefined')? '© 2023 AccessRace Timing. All rights reserved.': f_data %></p>
  </footer>
  </div>


<script>
  // document.querySelectorAll(".social-icons a").forEach((icon) => {
  //   icon.addEventListener("mouseenter", () => {
  //     icon.style.transform = "scale(1.1)";
  //     icon.style.transition = "0.2s";
  //   });
  //   icon.addEventListener("mouseleave", () => {
  //     icon.style.transform = "scale(1)";
  //   });
  // });
</script>
