@import 'tailwindcss';
/* Theme */
@theme {
    /* Screen breakpoints 16px = 1rem*/
    --breakpoint-xs: 23.4375rem; /* 375px */
    --breakpoint-sm: 30rem; /* 480px */
    --breakpoint-md: 48rem; /* 768px */
    --breakpoint-lg: 64rem; /* 1024px */
    --breakpoint-xl: 87.5rem; /* 1400px */
    --breakpoint-2xl: 96rem; /* 1536px */
}