<!DOCTYPE html>
<html lang="en">
    <!-- [Head] start -->
    <head>
        <title>Admin - <%= typeof title !=='undefined' ? title : '' %></title>
        <!-- [Meta] -->
        <meta charset="utf-8" />
        <meta
            name="description"
            content="AccessRace Timing  - Provide timing solutions and equipment with a software management system and high-precision timing devices for sports events. Deliver professional solutions for sports event organizers, enabling more efficient and professional race organization and execution."
        />
        <meta
            name="keywords"
            content="AccessRace – timing system, time measurement system, chiptime, timing technology, race timing, running timing, running time tracking."
        />
        <meta name="HandheldFriendly" content="True" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"
        />
        <meta
            property="og:title"
            content="AccessRace Timing Systems - Timing system for marathon running, swimming, and cycling."
        />
        <meta
            property="og:image"
            content="https://accessrace.com/uploads/f_66222dc225d112262cf4c639/1900-x-650-05-2025321415.png?w=800"
        />
        <meta
            property="og:site_name"
            content="AccessRace Timing Systems - Timing system for marathon running, swimming, and cycling."
        />
        <meta
            property="og:description"
            content="AccessRace Timing  - Provide timing solutions and equipment with a software management system and high-precision timing devices for sports events. Deliver professional solutions for sports event organizers, enabling more efficient and professional race organization and execution."
        />
        <meta property="fb:app_id" content="1904533989908688" />
        <meta name="google" value="notranslate" />
        <meta name="google-site-verification" content="G1gaicstF5DiUT-wSCWbH0KCHzaJF7s0Shpka2MtXS4" />
        <!-- Them meta endend -->
        <!-- //===========================Script importance  -->
        <!-- 1. jquery -->
        <script src="/libs/js/jquery-3.7.1.js"></script>
        <!-- 2. datatable core -->
        <script src="/libs/js/dataTables.min.js"></script>
        <!-- have to loaded second -->
        <script src="/libs/js/dataTables.bootstrap5.min.js"></script>
        <!--3 Bootstrap CSS -->
        <!-- Bootstrap JS (bundle includes Popper) -->
        <link rel="stylesheet" href="/libs/css/bootstrap.min.css" />
        <script src="/libs/js/bootstrap.bundle.min.js"></script>

        <!-- [Favicon] icon -->
        <!-- <link rel="icon" href="admin/assets/images/favicon.svg" type="image/x-icon">  -->
        <link rel="icon" href="/icons/ar-favicon-icon.png" type="image/x-icon" />
        <!-- [Google Font] Family -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
            id="main-font-link"
        />
        <!-- [Tabler Icons] https://tablericons.com -->
        <link rel="stylesheet" href="/admin/assets/fonts/tabler-icons.min.css" />
        <!-- [Feather Icons] https://feathericons.com -->
        <link rel="stylesheet" href="/admin/assets/fonts/feather.css" />
        <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
        <link rel="stylesheet" href="/admin/assets/fonts/fontawesome.css" />
        <!-- [Material Icons] https://fonts.google.com/icons -->
        <link rel="stylesheet" href="/admin/assets/fonts/material.css" />
        <!-- [Template CSS Files] -->
        <link rel="stylesheet" href="/admin/assets/css/style.css" id="main-style-link" />
        <link rel="stylesheet" href="/admin/assets/css/style-preset.css" />

        <!-- sweet2 -->
        <link rel="stylesheet" href="/libs/css/sweetalert2.min.css" />
        <script src="/libs/js/sweetalert2.all.min.js"></script>
        <style>
            @font-face {
                font-family: 'Roboto';
                src: url('font/roboto/Roboto-Thin.ttf');
            }
            @font-face {
                font-family: 'Ale';
                src: url('font/AlexBrush-Regular.ttf');
            }
            body {
                font-family: 'Poppins', sans-serif;
                /* font-size: 40px !important; */
            }

            a {
                text-decoration: none !important;
            }
        </style>
        <!-- end -->
        <script>
            function clearModalFocus(modalId) {
                const modalEl = document.getElementById(modalId);
                modalEl.addEventListener('hide.bs.modal', () => {
                    // khi modal ẩn xong, dời focus ra ngoài
                    document.activeElement.blur();
                });
            }
        </script>
    </head>
    <!-- [Head] end -->
    <!-- [Body] Start -->

    <body data-pc-preset="preset-1" data-pc-direction="ltr" data-pc-theme="light">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->
        <!-- [ Sidebar Menu ] start -->
        <nav class="pc-sidebar">
            <div class="navbar-wrapper" style="padding-top: 10px;">
                <div class="m-header" style="justify-content: center; margin: 0 5px">
                    <a href="/admin/dashboard" class="b-brand text-primary">
                        <!-- ========   Change your logo from here   ============ -->
                        <img
                            src="/icons/accessrace-logo.png"
                            class=""
                            alt="logo"
                            style="
                                display: inline-block;
                                height: 50px;
                                width: 100%;
                                padding: 0px auto;
                                object-fit: cover;
                            "
                        />
                    </a>
                </div>
                <div class="navbar-content">
                    <ul class="pc-navbar">
                        <li class="pc-item">
                            <a href="/admin/dashboard" class="pc-link">
                                <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                                <span class="pc-mtext">Dashboard</span>
                            </a>
                        </li>
                        <!-- meunu new start-->
                        <!-- <li class="pc-item pc-caption">
          <label>News</label>
          <i class="ti ti-brand-chrome"></i>
        </li> -->
                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link"
                                ><span class="pc-micon"><i class="ti ti-news"></i></span
                                ><span class="pc-mtext">Event</span
                                ><span class="pc-arrow"><i data-feather="chevron-right"></i></span
                            ></a>
                            <ul class="pc-submenu">
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/event">List</a>
                                </li>
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/event/form">Add</a>
                                </li>
                            </ul>
                        </li>
                        <!-- Ticket -->
                         <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link"
                                ><span class="pc-micon"><i class="ti ti-news"></i></span
                                ><span class="pc-mtext">Ticket</span
                                ><span class="pc-arrow"><i data-feather="chevron-right"></i></span
                            ></a>
                            <ul class="pc-submenu">
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/ticket/form-add">Form Ad</a>
                                </li>
        
                            </ul>
                        </li>
                        <!-- Group -->

                        <!-- Image -->

                        <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link"
                                ><span class="pc-micon"><i class="ti ti-news"></i></span
                                ><span class="pc-mtext">Image gallery</span
                                ><span class="pc-arrow"><i data-feather="chevron-right"></i></span
                            ></a>
                            <ul class="pc-submenu">
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/image">list</a>
                                </li>
                                <!-- <li class="pc-item">
                                    <a class="pc-link" href="">Create Post</a>
                                </li> -->
                            </ul>
                        </li>
                         <!-- Group -->
                          <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link"
                                ><span class="pc-micon"><i class="ti ti-news"></i></span
                                ><span class="pc-mtext">Groups</span
                                ><span class="pc-arrow"><i data-feather="chevron-right"></i></span
                            ></a>
                            <ul class="pc-submenu">
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/group">List</a>
                                </li>
                                <li class="pc-item">
                                    <a class="pc-link" href="/admin/group/fdsf">Add</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ Sidebar Menu ] end -->
        <!-- [ Header Topbar ] start -->
        <header class="pc-header">
            <div class="header-wrapper">
                <!-- [Mobile Media Block] start -->
                <div class="me-auto pc-mob-drp">
                    <ul class="list-unstyled">
                        <!-- ======= Menu collapse Icon ===== -->
                        <li class="pc-h-item pc-sidebar-collapse">
                            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="pc-h-item pc-sidebar-popup">
                            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="dropdown pc-h-item d-inline-flex d-md-none">
                            <a
                                class="pc-head-link dropdown-toggle arrow-none m-0"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="false"
                                aria-expanded="false"
                            >
                                <i class="ti ti-search"></i>
                            </a>
                            <div class="dropdown-menu pc-h-dropdown drp-search">
                                <form class="px-3">
                                    <div class="form-group mb-0 d-flex align-items-center">
                                        <i data-feather="search"></i>
                                        <input
                                            type="search"
                                            class="form-control border-0 shadow-none"
                                            placeholder="Search here. . ."
                                        />
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="pc-h-item d-none d-md-inline-flex">
                            <form class="header-search">
                                <i data-feather="search" class="icon-search"></i>
                                <input type="search" class="form-control" placeholder="Search here. . ." />
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- [Mobile Media Block end] -->
                <div class="ms-auto">
                    <ul class="list-unstyled">
                        <li class="dropdown pc-h-item">
                            <a
                                class="pc-head-link dropdown-toggle arrow-none me-0"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="false"
                                aria-expanded="false"
                            >
                                <i class="ti ti-mail"></i>
                            </a>
                            <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                                <div class="dropdown-header d-flex align-items-center justify-content-between">
                                    <h5 class="m-0">Message</h5>
                                    <a href="#!" class="pc-head-link bg-transparent"
                                        ><i class="ti ti-x text-danger"></i
                                    ></a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div
                                    class="dropdown-header px-0 text-wrap header-notification-scroll position-relative"
                                    style="max-height: calc(100vh - 215px)"
                                >
                                    <div class="list-group list-group-flush w-100">
                                        <a class="list-group-item list-group-item-action">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <img
                                                        src="/admin/assets/images/user/avatar-2.jpg"
                                                        alt="user-image"
                                                        class="user-avtar"
                                                    />
                                                </div>
                                                <div class="flex-grow-1 ms-1">
                                                    <span class="float-end text-muted">3:00 AM</span>
                                                    <p class="text-body mb-1">
                                                        It's <b>Cristina danny's</b> birthday today.
                                                    </p>
                                                    <span class="text-muted">2 min ago</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item list-group-item-action">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <img
                                                        src="/admin/assets/images/user/avatar-1.jpg"
                                                        alt="user-image"
                                                        class="user-avtar"
                                                    />
                                                </div>
                                                <div class="flex-grow-1 ms-1">
                                                    <span class="float-end text-muted">6:00 PM</span>
                                                    <p class="text-body mb-1"><b>Aida Burg</b> commented your post.</p>
                                                    <span class="text-muted">5 August</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item list-group-item-action">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <img
                                                        src="/admin/assets/images/user/avatar-3.jpg"
                                                        alt="user-image"
                                                        class="user-avtar"
                                                    />
                                                </div>
                                                <div class="flex-grow-1 ms-1">
                                                    <span class="float-end text-muted">2:45 PM</span>
                                                    <p class="text-body mb-1">
                                                        <b>There was a failure to your setup.</b>
                                                    </p>
                                                    <span class="text-muted">7 hours ago</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item list-group-item-action">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                    <img
                                                        src="/admin/assets/images/user/avatar-4.jpg"
                                                        alt="user-image"
                                                        class="user-avtar"
                                                    />
                                                </div>
                                                <div class="flex-grow-1 ms-1">
                                                    <span class="float-end text-muted">9:10 PM</span>
                                                    <p class="text-body mb-1">
                                                        <b>Cristina Danny </b> invited to join
                                                        <b> Meeting.</b>
                                                    </p>
                                                    <span class="text-muted">Daily scrum meeting time</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="text-center py-2">
                                    <a href="#!" class="link-primary">View all</a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown pc-h-item header-user-profile">
                            <a
                                class="pc-head-link dropdown-toggle arrow-none me-0"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-haspopup="false"
                                data-bs-auto-close="outside"
                                aria-expanded="false"
                            >
                                <img src="/admin/assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
                                <span>Kien Maybach</span>
                            </a>
                            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                                <div class="dropdown-header">
                                    <div class="d-flex mb-1">
                                        <div class="flex-shrink-0">
                                            <img
                                                src="/admin/assets/images/user/avatar-2.jpg"
                                                alt="user-image"
                                                class="user-avtar wid-35"
                                            />
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1">Kien Maybach</h6>
                                            <span>Cân cả code && ui :v </span>
                                        </div>
                                        <a href="/admin/auth/logout" class="pc-head-link bg-transparent"
                                            ><i class="ti ti-power text-danger"></i
                                        ></a>
                                    </div>
                                </div>
                                <ul class="nav drp-tabs nav-fill nav-tabs" id="mydrpTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button
                                            class="nav-link active"
                                            id="drp-t1"
                                            data-bs-toggle="tab"
                                            data-bs-target="#drp-tab-1"
                                            type="button"
                                            role="tab"
                                            aria-controls="drp-tab-1"
                                            aria-selected="true"
                                        >
                                            <i class="ti ti-user"></i> Profile
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button
                                            class="nav-link"
                                            id="drp-t2"
                                            data-bs-toggle="tab"
                                            data-bs-target="#drp-tab-2"
                                            type="button"
                                            role="tab"
                                            aria-controls="drp-tab-2"
                                            aria-selected="false"
                                        >
                                            <i class="ti ti-settings"></i> Setting
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="mysrpTabContent">
                                    <div
                                        class="tab-pane fade show active"
                                        id="drp-tab-1"
                                        role="tabpanel"
                                        aria-labelledby="drp-t1"
                                        tabindex="0"
                                    >
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-edit-circle"></i>
                                            <span>Edit Profile</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-user"></i>
                                            <span>View Profile</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-clipboard-list"></i>
                                            <span>Social Profile</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-wallet"></i>
                                            <span>Billing</span>
                                        </a>
                                        <a href="/admin/auth/logout" class="dropdown-item">
                                            <i class="ti ti-power"></i>
                                            <span>Logout</span>
                                        </a>
                                    </div>
                                    <div
                                        class="tab-pane fade"
                                        id="drp-tab-2"
                                        role="tabpanel"
                                        aria-labelledby="drp-t2"
                                        tabindex="0"
                                    >
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-help"></i>
                                            <span>Support</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-user"></i>
                                            <span>Account Settings</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-lock"></i>
                                            <span>Privacy Center</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-messages"></i>
                                            <span>Feedback</span>
                                        </a>
                                        <a href="#!" class="dropdown-item">
                                            <i class="ti ti-list"></i>
                                            <span>History</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- [ Header ] end -->

        <!-- [ Main Content ] start -->
        <div class="pc-container">
            <div class="pc-content"><%- body %></div>
        </div>

        <script src="/admin/assets/js/plugins/simplebar.min.js"></script>
        <!-- <script src="/admin/assets/fix/simplebar.min.js"></script> -->
        <script src="/admin/assets/js/fonts/custom-font.js"></script>
        <script src="/admin/assets/js/pcoded.js"></script>
        <script src="/admin/assets/js/plugins/feather.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/yup@1.7.0/index.min.js"></script>
        
        <script>
            font_change('Public-Sans');
        </script>
    </body>
    <!-- [Body] end -->
</html>
