<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Group Bib</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <!-- Them meta start -->
        <meta
            name="description"
            content="AccessRace Timing  - Provide timing solutions and equipment with a software management system and high-precision timing devices for sports events. Deliver professional solutions for sports event organizers, enabling more efficient and professional race organization and execution."
        />
        <meta
            name="keywords"
            content="AccessRace – timing system, time measurement system, chiptime, timing technology, race timing, running timing, running time tracking."
        />
        <meta name="HandheldFriendly" content="True" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"
        />
        <meta
            property="og:title"
            content="AccessRace Timing Systems - Timing system for marathon running, swimming, and cycling."
        />
        <meta
            property="og:image"
            content="https://accessrace.com/uploads/f_66222dc225d112262cf4c639/1900-x-650-05-2025321415.png?w=800"
        />
        <meta
            property="og:site_name"
            content="AccessRace Timing Systems - Timing system for marathon running, swimming, and cycling."
        />
        <meta
            property="og:description"
            content="AccessRace Timing  - Provide timing solutions and equipment with a software management system and high-precision timing devices for sports events. Deliver professional solutions for sports event organizers, enabling more efficient and professional race organization and execution."
        />
        <!--  -->
        <link rel="stylesheet" href="/css/my-style.css">
        <!-- gg icon -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- bootstrap icon -->
        <link rel="stylesheet" href="/libs/bootstrap-icons/bootstrap-icons.min.css" />
        <!-- dataTable css -->
        <link rel="stylesheet" href="/libs/css/dataTables.dataTables.min.css" />
        <!-- jquey -->
        <script src="/libs/js/jquery-3.7.1.js"></script>
        <!-- datatable -->
        <script src="/libs/js/dataTables.min.js"></script>
        <!-- sweetalert 2 -->
        <link rel="stylesheet" href="/libs/css/sweetalert2.min.css" />
        <script src="/libs/js/sweetalert2.all.min.js"></script>
        <!-- validation -->
        <script src="https://cdn.jsdelivr.net/npm/zod@3.23.2/lib/index.umd.min.js"></script>
        <!--  -->

        <style>
            body {
                background-color: #f0f0f8;
            }
            .my-card {
                background-color: #fff;
                margin: 20px 0;
            }
            main{
                margin-top: 80px;
                /* padding-top: 50px; */
                min-height: calc(100vh - 160px);
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJ6V81DS9P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-TJ6V81DS9P');
        </script>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>

        <%- include('../partials/footer.ejs') %>
    </body>
    <!-- flowbite -->
    <script src="/libs/js/flowbite.min.js"></script>
</html>
