<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Group Bib</title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/style.css" />

        <!-- gg icon -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- bootstrap icon -->
        <link rel="stylesheet" href="/libs/bootstrap-icons/bootstrap-icons.min.css" />
        <!-- dataTable css -->
        <link rel="stylesheet" href="/libs/css/dataTables.dataTables.min.css" />
        <!-- jquey -->
        <script src="/libs/js/jquery-3.7.1.js"></script>
        <!-- datatable -->
        <script src="/libs/js/dataTables.min.js"></script>
        <!-- sweetalert 2 -->
        <link rel="stylesheet" href="/libs/css/sweetalert2.min.css" />
        <script src="/libs/js/sweetalert2.all.min.js"></script>
        <!-- validation -->
     <script src="https://cdn.jsdelivr.net/npm/zod@3.23.2/lib/index.umd.min.js"></script>
        <!--  -->

        <style>
            body {
                background-color: #f0f0f8;
            }
            .my-card {
                background-color: #fff;
                margin: 20px 0;
            }
        </style>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TJ6V81DS9P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-TJ6V81DS9P');
        </script>
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>

        <%- include('../partials/footer.ejs') %>
    </body>
    <!-- flowbite -->
    <script src="/libs/js/flowbite.min.js"></script>
    
</html>
